<rule name="assets folder" stopProcessing="true">
    <match url="w3\/([^\/]*)\/([^\/\.]*)\/.*\/(assets\/.*)" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Rewrite" url="/w3/{R:1}/{R:2}/{R:3}" appendQueryString="false" logRewrittenUrl="false" />
</rule>
<rule name="file assets" stopProcessing="true">
    <match url="w3\/([^\/]*)\/([^\/\.]*)\/.*\/(\w+\.\w+)" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Rewrite" url="/w3/{R:1}/{R:2}/{R:3}" appendQueryString="false" logRewrittenUrl="false" />
</rule>
<rule name="path params" stopProcessing="true">
    <match url="w3\/([^\/]*)\/([^\/]*)\/.*" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Rewrite" url="/w3/{R:1}/{R:2}/" appendQueryString="false" logRewrittenUrl="false" />
</rule>
